/* styles.css */
body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    width: 100%;
    overflow-x: hidden; /* Prevent horizontal scroll */
    max-width: 100%;    /* Ensures no element exceeds the body width */
    position: relative; /* Ensures positioning context starts from the viewport edge */

}

.element {
    max-width: 100%; /* Prevents the element from extending beyond the viewport */
    box-sizing: border-box; /* Includes padding and border in the element's width */
}
/* .container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */

.container {
    width: 40%; /* Adjust the width as needed */
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    justify-content: center;
}

h1, h3, h5 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
}

label {
    margin-top: 10px;
}

input[type="range"], input[type="date"], input[type="text"], select {
    padding: 10px;
    margin-top: 5px;
}

input[type="range"] {
    width: 100%;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: #ccc;
    height: 8px;
    border-radius: 0px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background: #0366d6;
    margin-top: -6px;
}

button {
    margin-top: 20px;
    background-color: #0366d6;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #024ea2;
}

/* Word Cloud Styles */
.word-clouds {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.word-cloud {
    /* min-height: 250px; Ensure there's enough space for the cloud */
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.plot-container {
    width: 50%; /* or you can set to 100% if you need it to be full width */
    height: 500px; /* Set a fixed height or adjust as needed */
    margin: 20px auto;
    padding: 20px;
    /* box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    background-color: #f9f9f9;
    border: 1px solid #ccc; */
}

#scatterPlot {
    padding: 10px; /* Adjust padding if the form has specific padding */
    /* Additional specific styles if needed */
}


.cal-legend {
    position: absolute;
    bottom: -20px; /* Adjust this value as needed */
    left: 0;
    right: 0;
    margin: auto; /* This centers the legend if the container is relative */
}



#calendar-heatmap .cal-heatmap-container {
    display: flex;
    justify-content: center; /* Center heatmap horizontally */
    align-items: bottom; /* Center heatmap vertically */
    height: 60%; /* Makes sure the container's height is respected */
    width: 100%;  /* Ensure the container takes full width */
}

.cal-heatmap-container {
    width: 100%; /* Ensure it uses the full width available */
}

#calendar-heatmap {
    width: 100%;  /* Make it responsive based on the parent container */
    /* max-width: 600px; Limit the max width to align with other containers */
    margin: 30px 5px 20px 5px ; /* Center align if the parent is flex or full width */
    padding: 30px 5px 20px 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    overflow: auto; /* Show scrollbars if the content overflows */
    
    display: flex;
    justify-content: center;
    align-items: bottom; 
    
    height: auto;
}

.cal-heatmap-container .domain-tooltip {
    position: fixed; /* Change or adjust positioning strategy */
    top: auto; /* Adjust based on actual needs */
    left: auto; /* Adjust to ensure tooltips don’t go out of the container */
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Show ellipsis if text overflows */
}

@media (max-width: 600px) {
    .word-clouds {
        flex-direction: column;
    }
    .plot-container {
        height: 300px;
    }
    .container {
        width: 95%;
    }
}
/* 
@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 10px;
        margin: 0 auto;
        box-shadow: none;
    }
} */

@media (max-width: 480px) {
    .container {
        padding: 5px;
    }
}